<!-- <ng-table [config]="config"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          [rows]="rows" [columns]="columns">
</ng-table> -->
<!-- <pagination
  [count]="someCountVar"
  [page]="somePageVar"
  [perPage]="somePerPageVar"
  [pagesToShow]="5"
  [loading]="someLoadingVar"
  (onPrev)="prevPage()"
  (onNext)="nextPage()"
  (onPage)="goToPage($event)">
</pagination> -->
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="platform">
      <mat-header-cell *matHeaderCellDef> Platform </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.platform}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="developer">
      <mat-header-cell *matHeaderCellDef> Developer </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.developer}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="publisher">
      <mat-header-cell *matHeaderCellDef> Publisher </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.publisher}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="releaseDate">
      <mat-header-cell *matHeaderCellDef> Release Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.releaseDateStr}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
